
.bam-textarea-legend {
  color: #ff8800;
}

#edit-bordeaux-agenda-musee {
  margin-top:25px;
  border:solid #D8003B 2px;
  border-radius:3px;
}

#edit-bordeaux-agenda-musee-tarif-tarifs,
#edit-bordeaux-agenda-musee-date-commentdate,
#edit-bordeaux-agenda-musee-description-resume,
#edit-bordeaux-agenda-musee-description-descdetail {
  height:20px;
}

.form-item-bordeaux-agenda-musee-transmission label {
  font-size:1.5em;
}

#edit-bam-info-context {
  background-color:#fdeac6;
  margin:25px 0;
  padding:15px;
  border:solid #D8003B 2px;
  border-radius:3px;
}

#edit-bam-info-context div.description {
  color:#000;
}

.bam-logoinform {
  vertical-align: middle;
}
